* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
}

/* phần css dùng chung */

.row {
    display: flex;
}

.col {
    padding: 0 15px;
}

/* có 4 cột bằng nhau */
.col-4 {
    width: 25%;
}

/* 2 cột bằng nhau */
.col-2 {
    width: 50%;
}

.text-shadow {
    text-shadow: 1px 1px 1px #808080;
}




/* Bắt đầu silder */
#slider {
    padding: 160px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#slider .subnav {
    color: #fff;
    justify-content: center;
    display: flex;
}

#slider .subnav .content {
    text-align: center;
    max-width: 75%;
    position: relative;
    width: 100%;
}

#slider .content .content-info {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}

#slider .content .content-info a {
    color: #fff;
    margin-right: 0.5rem !important;
    text-decoration: none;
}

#slider .subnav .product-header {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
}

/* Kết thức silder */

/* Cart content */
#cart-content {
    padding: 90px 0px;
    color: #fff;
    margin-right: 0.5rem !important;
    text-decoration: none;
}

#cart-content .content-cart-part1 {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: scroll;
}

#cart-content .content-cart-part1 .table {
    min-width: 1000px;
    margin-bottom: 16px;
    border-collapse: collapse;
}

#cart-content .content-cart-part1 .table tr {
    text-align: center;
}

#cart-content .content-cart-part1 .table .table-body td {
    padding: 40px 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* head của table */
.content-cart-part1 .table .table-head {
    background-color: #82ae46;
}

.content-cart-part1 .table .table-head th {
    padding: 20px 10px;
    color: #fff;
    font-weight: 500;
}

/* End */

/* Phần product-remove */
.content-cart-part1 .table-body .product-remove a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 10px;
    color: #000000;
    transition: 0.3s all ease-out;
}

.content-cart-part1 .table-body .product-remove a:hover {
    background-color: #82ae46;
    border: 1px solid #82ae46;
    transition: 0.3s all ease;
}

.content-cart-part1 .table-body .product-remove a:hover i {
    color: #fff;
}

/* End */

/* product-image */
.content-cart-part1 .table-body .product-image img {
    display: block;
    height: 150px;
    margin: 0 auto;
}

/* End */

/* product-name */
.content-cart-part1 .table-body .product-name {
    width: 30%;
}

.content-cart-part1 .table-body .product-name h3 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 8px;
}

.content-cart-part1 .table-body .product-name p {
    margin-bottom: 16px;
    line-height: 1.8;
    color: gray;
}

/* End */

/* product-quantity */
.content-cart-part1 .table-body .product-quantity {
    width: 20%;
}

.content-cart-part1 .table-body .product-quantity .input-quantity {
    margin-bottom: 16px;
    width: 100%;
}

.content-cart-part1 .table-body .product-quantity .quantity-form {
    height: 40px;
    text-align: center;
    bordeR: 1px solid rgba(0, 0, 0, 0.05);
}

.quantity-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-decrease, .btn-increase {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-decrease:hover, .btn-increase:hover {
    background-color: #e9ecef;
}


.content-cart-part1 .table-body .product-quantity .count {
	display: flex;
    margin-bottom: 16px;
}

.content-cart-part1 .product-quantity .count .minus {
	margin-right: 8px;
}

.content-cart-part1 .count .minus .btn-minus {
	cursor: pointer;
    padding: 0px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    height: 40px;
    background-color: transparent;
    font-size: 14px;
}

.content-cart-part1 .product-quantity .count input {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
}

.content-cart-part1 .product-quantity .count .plus {
	margin-left: 8px;
}

.content-cart-part1 .count .plus .btn-plus {
	cursor: pointer;
    padding: 0px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    height: 40px;
    background-color: transparent;
    font-size: 14px;
}
/* End */

/* content-cart-part2 */
#cart-content .content-cart-part2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#cart-content .content-cart-part2 .cart-part2-wrapper {
    margin-top: 3rem;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 992px) {
    #cart-content .content-cart-part2 .cart-part2-wrapper {
        max-width: 100%;
    }
}

/* Cart-total */
.content-cart-part2 .cart-part2-wrapper .cart-total {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 1rem !important;
}

.content-cart-part2 .cart-part2-wrapper .cart-total h3 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 400;
}

.content-cart-part2 .cart-part2-wrapper .cart-total p {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    color: gray;
    line-height: 1.8;
}

/* End */

/* info-form */
.content-cart-part2 .cart-total .info-form {
    margin-bottom: 1rem;
}

.content-cart-part2 .cart-total .info-form p {
    font-size: 13px;
    color: #000;
    margin-bottom: 0.5rem;
}

.content-cart-part2 .cart-total .info-form .info-form-input {
    bordeR: 1px solid rgba(0, 0, 0, 0.05) !important;
    height: 52px !important;
    background: #fff !important;
    width: 100%;
    padding: 6px 12px;
    border-radius: 0.25rem;
    outline: 0;
}

/* End */

/* button- apply */
.content-cart-part2 .cart-part2-wrapper .button-apply {
    color: #fff;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    display: inline-block;
    line-height: 1.5;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s all ease;
    background-color: #82ae46;
}

.content-cart-part2 .cart-part2-wrapper .button-apply:hover {
    border: 1px solid #82ae46;
    background: transparent;
    color: #82ae46;
}

.button-apply:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/* End */

/* checkout */
.content-cart-part2 .cart-part2-wrapper .checkout p {
    display: flex;
}

.content-cart-part2 .cart-part2-wrapper .checkout span {
    width: 50%;
}

.content-cart-part2 .cart-part2-wrapper .checkout .total-price span:last-child {
    color: #000000;
    font-weight: 600;
}

/* End */

/* Css Home Subribe */
#home-subcribe {
    background-color: #f7f6f2;
}

#home-subcribe h2 {
    font-size: 1.375rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
}

#home-subcribe p {
    font-size: 0.9375rem;
    color: #808080;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .5px;
}

#home-subcribe .subcribe-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0 15px;
}

#home-subcribe .subcribe-input {
    font-size: 0.9375rem;
    width: 447px;
    border: none;
    padding: 6px 15px;
}

#home-subcribe .form-group {
    height: 52px;
}

#home-subcribe .subcribe-submit {
    background-color: #82ae46;
    width: 92px;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

/* End Home Subcribe */

/* <----------------------------------------------FOOTER CSS ------------------------------------------------------> */
#footer {
    height: 570px;
    padding: 96px 0;
    background-color: #fff;
    position: relative;
}

#footer .scoll-btn-wrapper {
    position: absolute;
    background-color: #82ae46;
    height: 60px;
    width: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition-delay: 0.3s;
}

#footer .scoll-icon {
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
    line-height: 60px;
}

#footer .scoll-icon-wheel {
    animation: 1.6s ease infinite wheel-up-down;
}

@keyframes wheel-up-down {
    100% {
        margin-top: -8px;
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    0% {
        margin-top: 10px;
        opacity: 0;
    }
}


#footer .footer-container {
    margin: 0 100px;
}

#footer .footer-content-wrapper {
    justify-content: space-evenly;
    margin: 0 -15px 48px -15px;
}

#footer .footer-discription {
    flex-basis: 250px;
}

#footer .footer-menu {
    flex-basis: 160px;
}

#footer .footer-help {
    flex-basis: 300px;
}

#footer .footer-question {
    flex-basis: 240px;
}

#footer .help-content .help-left-content {
    flex-basis: 170px;
    flex-wrap: nowrap;
}

#footer .dsc-content,
#footer .menu-content,
#footer .help-content,
#footer .question-content,
#footer .footer-copyright {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.8;
    font-size: 1rem;
}

#footer .dsc-content p {
    margin-bottom: 16px;
}

#footer .menu-content a {
    padding: 8px 0;
    display: block;
}

#footer .help-content a {
    padding: 8px 0;
    display: block;
}

#footer h2 {
    margin-bottom: 20px;
    font-weight: 550;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

#footer li,
#footer a {
    text-decoration: none;
    list-style: none;
    color: black;
}

#footer .footer-social-icon {
    margin: 48px 0 16px 0;
}

#footer .fb-icon-wrapper,
#footer .tw-icon-wrapper,
#footer .ins-icon-wrapper {
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    margin-right: 16px;
}

#footer .fb-icon-wrapper ion-icon {
    line-height: 50px;
    font-size: 1.625rem;
    padding: 0 16px;
}

#footer .tw-icon-wrapper ion-icon,
#footer .ins-icon-wrapper ion-icon {
    line-height: 50px;
    font-size: 1.625rem;
    padding: 0 13px;
}

#footer .question-address {
    display: flex;
}

#footer .question-address span,
#footer .question-mail span,
#footer .question-phone span {
    margin-right: 8px;
}

#footer .footer-copyright {
    margin-top: 60px;
    justify-content: center;
    letter-spacing: 1px;
}

/* <-------------------------------------End Footer-------------------------------------> */